*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background-image: url(../img/fondo2.jpg);
    background-size: cover;
    
}
hr{
    background-color: white;
}

h2{
    color: rgb(9, 11, 114);
    text-align: center;
}

#piepagina{
    background-color: #66bdf0;
}

h3{
    color: rgb(43, 128, 161);
    text-align: center;
}
h4{
    color: rgb(21, 21, 161);
    text-align: center;
}
h5{
    color: rgb(199, 53, 53);
}
p{
    color: black;
}
#imagen2{
    width: 300px;
    height: 300px;
}
.btn btn-outline-success{
    text-align: center;
    width: 150px;
}
button{
    padding: 10px 40px;
    margin-top: 40px;
    border: 2px solid rgb(9, 255, 0);
    font-size: 14px;
    font-weight: 600;
    background: #46a2fd;
    color: white;
    cursor: pointer;
    outline: none;
}
button:hover{
    background-color: white;
    color: #46a2fd;
}
main{
    width: 120%;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
}
.contenido{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.contenido__register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320);
}
.contenido__register form{
    width: 300px;
    padding: 80px 20px;
    background: #fff;
    border-radius: 20px;
    border: 2px solid rgb(13, 14, 13);
}
.contenido__register form h2{
    background-color: rgb(123, 126, 126);
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #ecf1ec;
}
.contenido__register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #c4c2c2;
    font-size: 16px;
    outline: none;
}

.contenido__register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: 2px solid rgb(125, 226, 119);
    font-size: 14px;
    font-weight: 600;
    background: #46a2fd;
    color: white;
    cursor: pointer;
    outline: none;
}
.contenido__register button:hover{
    background-color: white;
    color: #46a2fd;
}
.espacio_tabla{
    padding: 20%;
}
#imagen3{
    width: 150px;
    height: 150px;
}
th{
    text-align: center;
}
button:hover{
    background-color: white;
    color: #46a2fd;
}
p{
    color: rgb(5, 5, 5);
}
a{
    text-decoration: none;
}